<div class="center">
<button type="button" name="'button" (click)="getInfoFromServiceMethod1()">Employee 1</button>

<ul class="list-group">
  <li *ngFor="let info of info1" class="list-group-item">{{info}}</li>
</ul>
<pre></pre>

<button type="button" name="button" (click)="getInfoFromServiceMethod2()">Employee 2</button>
<ul class="list-group">
  <li *ngFor="let info of info2" class="list-group-item">{{ info }}</li>
</ul>
<pre></pre>

<button type="button" name="button" (click)="getInfoFromServiceMethod3()">Employee 3</button>
<ul class="list-group">
  <li *ngFor="let info of info3" class="list-group-item">{{ info }}</li>
</ul>
<pre></pre>

<div>

